.colorContainer {
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}

.colorContainer_colors {
    @include fc(1,0);
    padding: 8px 0;
}

.colorContainer_color  {
    cursor: pointer;
    border: 5px solid;
    border-radius: 50%;
    height: 25px;
    margin: 0 10px;
    transition: 0.5s;
    width: 25px; 
}
.colorContainer_color[color="blue"] {
    background-color: #2175f5;
    border-color: #2175f5;
}
.colorContainer_color[color="red"] {
    background-color: #f84848;
    border-color: #f84848;
}
.colorContainer_color[color="green"] {
    background-color: #29b864;
    border-color: #29b864;
}
.colorContainer_color[color="orange"] {
    background-color: #ff5521;
    border-color: #ff5521;
}
.colorContainer_color[color="black"] {
    background-color: #444;
    border-color: #444;
}

.colorContainer_color.active {
    border-color: #fff;
    box-shadow: $box-shadow3;
    transform: scale(1.1);
}
