.description {
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}

.description_title {
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.description_text {
    color: #555;
    font-size: 17px;
}

