
@import "./Info/styles.scss";
@import "./Gradient/styles.scss";
@import "./ProductImage/styles.scss";
@import "./Description/styles.scss";
@import "./ColorContainer/styles.scss";
@import "./SizeContainer/styles.scss";
@import "./Buy/styles.scss";

.main {
    background: #fff;
    box-shadow: $box-shadow1;
    width: 50%;
    padding: 35px 40px;
    z-index: 1;
}
